<app-button (click)="resetEverythingHandler()">
    Reset everything
</app-button>

<div class="p-5 bg-white rounded-xl flex flex-col">
    <section *ngIf="queueService.selectedPersonLoading" class="text-center">
        <app-spinner></app-spinner>
    </section>
    <section *ngIf="!queueService.selectedPersonLoading">
        <div class="text-center text-gray-400">{{ queueService.selectedPerson.tokenNumber
            }}/{{this.queueService.getSingleQueue().totalBooked}}</div>

        <img class="w-16 m-auto"
            src="https://avatars.dicebear.com/api/big-smile/{{ queueService.selectedPerson.pfpSeed }}.svg" alt="">

        <div class="flex flex-col text-center my-3">
            <span class="text-purple-700">Next person</span>
            <span class="text-2xl font-bold">{{ queueService.selectedPerson.name }}</span>
        </div>

        <div class="flex justify-between mt-5">
            <app-button [isDisable]="personsService.upNextList.length < 1" [flat]="true" (click)="skipPersonHandler()">
                Skip this person</app-button>
            <app-button [isDisable]="personsService.upNextList.length < 1"
                *ngIf="queueService.selectedPerson.tokenNumber!==this.queueService.getSingleQueue().totalBooked"
                (click)="goToNextPersonHandler()">Next person</app-button>

            <app-button (click)="resetEverythingHandler()"
                *ngIf="queueService.selectedPerson.tokenNumber===this.queueService.getSingleQueue().totalBooked">
                Done
            </app-button>
        </div>
    </section>
</div>