<div class="p-5 bg-white rounded-xl flex flex-col">
    <div class="text-center text-gray-400">7/10</div>

    <img class="w-16 m-auto" src="https://avatars.dicebear.com/api/human/abc.svg" alt="">

    <div class="flex flex-col text-center my-3">
        <span class="text-purple-700">Next person</span>
        <span class="text-2xl font-bold">James</span>
    </div>

    <div class="flex justify-between mt-5">
        <app-button [flat]="true">Skip this person</app-button>
        <app-button>Done</app-button>
    </div>
</div>