<div>
    <!-- <div *ngIf="queueService.queueListLoading" class="text-center">
        <app-spinner></app-spinner>
    </div> -->
    <app-queue-item-pulse *ngIf="queueService.queueListLoading"></app-queue-item-pulse>

    <section *ngIf="!queueService.queueListLoading" class="animate-list-from-top">
        <app-queue-item *ngFor="let queueItem of queueService.getQueue()" [id]="queueItem.id" [title]="queueItem.title"
            [isLive]="queueItem.isLive" [totalBooked]="queueItem.totalBooked" [totalBooking]="queueItem.totalBooking">
        </app-queue-item>
    </section>
</div>